# === Server / App (DEV defaults) ===
NODE_ENV=development
PORT=3001
BASE_PATH=/nodeapp

# === Database (local Dev) ===
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=admin@1111
DB_NAME=test_db
DB_CONNECTION_LIMIT=5

# === Optional ===
# CORS_ORIGIN=http://localhost:3000
# DB_SSL=true
